@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: 700;
}

pre, code {
  font-family: Inconsolata, monospace;
}
